[Unit]
Description=Splash screen
Before=sysinit.target
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/home/pi/Circuit-Gem/cs-splash/cs-splash &

[Install]
WantedBy=sysinit.target
